body {
  margin: 0px 0px; }

.container-main {
  font-size: 15px;
  color: #ff0000; }
  .container-main .left {
    width: 300px;
    height: 100vh;
    background: #474747;
    color: white;
    float: left;
    position: relative;
    overflow-y: auto; }
    .container-main .left .header {
      width: 100%;
      height: 50px;
      max-height: 50px;
      color: white;
      font-size: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .container-main .left .header .projectName {
        height: inherit;
        margin-left: 10px;
        line-height: 50px;
        cursor: pointer;
        float: left;
        font-size: 30px; }
    .container-main .left .user {
      width: 100%;
      text-align: center;
      display: inline-block; }
      .container-main .left .user .avator {
        margin-top: 30px;
        width: 80px;
        height: 80px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        border: 1px solid white;
        box-sizing: border-box;
        background: url("https://ws2.sinaimg.cn/large/006tNbRwly1fokw04d5xjj302s02swed.jpg"); }
      .container-main .left .user .nickName {
        margin-top: 10px;
        font-size: 17px; }
      .container-main .left .user .motto {
        font-size: 14px;
        color: whitesmoke; }
      .container-main .left .user .btn-follow {
        width: 80px;
        height: 36px;
        background-color: green;
        border-radius: 18px;
        line-height: 36px;
        padding: 0px 0px;
        display: block;
        margin: auto;
        margin-top: 20px; }
      .container-main .left .user .cancle-follow {
        width: 80px;
        height: 36px;
        background-color: #c8c8c8;
        border-radius: 18px;
        line-height: 36px;
        margin: auto;
        padding: 0px 0px;
        display: block;
        margin-top: 20px; }
    .container-main .left .classify-list {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden; }
      .container-main .left .classify-list .classify {
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
        height: 30px;
        line-height: 30px;
        color: #969696; }
        .container-main .left .classify-list .classify .item {
          display: flex;
          align-items: center;
          cursor: pointer; }
          .container-main .left .classify-list .classify .item .icon {
            width: 20px;
            height: 20px; }
          .container-main .left .classify-list .classify .item a {
            color: #969696;
            text-decoration: none;
            margin-left: 5px; }
          .container-main .left .classify-list .classify .item a:hover {
            color: #fafafa; }
          .container-main .left .classify-list .classify .item .selected {
            margin-left: 5px;
            text-align: left;
            height: 30px;
            line-height: 30px;
            color: white; }
      .container-main .left .classify-list .article-title-normal {
        margin-left: 35px;
        font-size: 15px;
        cursor: pointer;
        transition: all 0.5s; }
        .container-main .left .classify-list .article-title-normal a {
          text-decoration: none;
          color: #c8c8c8; }
        .container-main .left .classify-list .article-title-normal a:hover {
          color: #fafafa; }
      .container-main .left .classify-list .article-title-normal:hover {
        color: #fafafa; }
      .container-main .left .classify-list .article-title-selected {
        margin-left: 35px;
        color: #ffffcc;
        cursor: pointer; }
      .container-main .left .classify-list .classify:hover {
        color: white; }
  .container-main .right {
    height: 100vh;
    max-height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto auto; }
    .container-main .right .header {
      color: #646464;
      margin-left: 20px;
      height: 50px;
      line-height: 50px; }
    .container-main .right .markdown {
      margin-left: 20px;
      text-align: left;
      color: #333333;
      max-width: 800px;
      min-width: 600px; }
    .container-main .right .comment-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      align-items: center; }
      .container-main .right .comment-container .reward {
        background-color: red;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        color: white;
        line-height: 80px;
        text-align: center;
        cursor: pointer;
        position: relative; }
        .container-main .right .comment-container .reward .qr {
          top: 80px;
          width: 200px;
          position: absolute;
          left: calc(-60px);
          opacity: 0;
          animation: 1s both show ease; }
@keyframes show {
  form {
    opacity: 0;
    width: 10px; }
  to {
    opacity: 1;
    width: 200px; } }
      .container-main .right .comment-container .header {
        width: 100%;
        height: 50px;
        font-size: 20px;
        text-align: center; }
      .container-main .right .comment-container .comment-input {
        height: 100px;
        margin: 10px 10px;
        width: 90%;
        border: 4px solid #fafafa; }
      .container-main .right .comment-container .btn-comment {
        align-self: flex-start;
        margin-left: 10px;
        margin-top: 20px;
        background: #00a5fc;
        color: white;
        width: 80px;
        height: 36px;
        line-height: 36px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer; }
      .container-main .right .comment-container .btn-comment:hover {
        background: rgba(0, 165, 252, 0.6); }
      .container-main .right .comment-container .comment-list {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .container-main .right .comment-container .comment-list .item {
          width: 95%;
          background-color: #f0f0f0;
          border-radius: 5px;
          margin-bottom: 10px; }
          .container-main .right .comment-container .comment-list .item .top {
            display: flex;
            width: 100%;
            max-height: 50px;
            align-items: center; }
            .container-main .right .comment-container .comment-list .item .top .avator {
              margin-left: 10px;
              margin-top: 10px;
              width: 40px;
              height: 40px;
              border-radius: 20px;
              background-color: #c8c8c8; }
            .container-main .right .comment-container .comment-list .item .top .profile {
              margin-left: 10px;
              display: flex;
              flex-direction: column;
              width: 100%; }
              .container-main .right .comment-container .comment-list .item .top .profile .name {
                margin-top: 10px;
                color: black;
                font-size: 15px; }
              .container-main .right .comment-container .comment-list .item .top .profile .date {
                color: #646464;
                font-size: 12px; }
          .container-main .right .comment-container .comment-list .item .content {
            margin-top: 10px;
            margin-left: 55px;
            margin-bottom: 10px;
            color: #323232; }

/*# sourceMappingURL=home.css.map */
